<!DOCTYPE html>
<html lang="en">

<body>
  <h1>Shueworld Public Web Network Election Database (PWNED)</h1>


  <div>Please enter your credentials below to proceed.</div><br>
  <form action="/login", method="post">
  <label for="ssn">Social Security Number:</label><br>
  <input type="text" id="ssn" name="ssn"><br>

  <label for="password">Secret Passphrase from Mail:</label><br>
  <input type="text" id="password" name="password">
  <br>
  <br><input type="submit" value="Submit">
</form>
<p>Please remember to enable cookies on this site!</p>
</body>
</html>

