<!DOCTYPE html>
<html lang="en">

<body>
  <h1>Shueworld Public Web Network Election Database (PWNED)</h1>
  <br><h2> Authentication failed!</h2><br>
  <p>The data you input at the login page is invalid. Try again.</p>
</body>
</html>

